# Python
__pycache__/
*.py[cod]
*$py.class
*.so
!vinpin_core*.so
build/
dist/
*.egg-info/

# Nuitka
*.bin
*.exe
*.c
build/

# Buildozer
.buildozer/
bin/
.temp/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# 临时文件
*.tmp
.gitignore.tmp
