# Python
__pycache__/
*.py[cod]
*$py.class
*.so
!vinpin_core.*.so
*.egg-info/
.pytest_cache/

# Build artifacts
build/
dist/
bin/
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Buildozer
.buildozer/
*.spec~

# Nuitka
*.bin
*.exe
*.const
*.onefile-build
*.build

# Git
.git/

# CI temp
.gitignore.tmp
